* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4b9cd3;
  font-family: Arial, sans-serif;
  color: #13294b;
}

.form-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 280px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

p {
  background-color: white;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 0.5em 0 0.2em;
  background-color: white;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 4px;
  background-color: white;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #13294b;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
